extends default

block content
  
  include templates/nav
  
  div(class=['ui', 'container','grid', 'stackable'])
    div(class=['ten', 'wide','column'])
  
    h3(class=['ui', 'header', 'blue'])= 'CRUD USANDO NODEJS-MYSQL-SEMANTIC UI-EXPRESS. '
